/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */


/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0b84ba;
  --ifm-color-primary-dark: #0a77a7;
  --ifm-color-primary-darker: #09709e;
  --ifm-color-primary-darkest: #085c82;
  --ifm-color-primary-light: #0d91cc;
  --ifm-color-primary-lighter: #0e98d5;
  --ifm-color-primary-lightest: #2cb4f5;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #62b5e5;
  --ifm-color-primary-dark: #3ba2de;
  --ifm-color-primary-darker: #2d9ad9;
  --ifm-color-primary-darkest: #1a82bf;
  --ifm-color-primary-light: #89c8ec;
  --ifm-color-primary-lighter: #9cd1ef;
  --ifm-color-primary-lightest: #c3e5f7;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}